<h3>List of Heroes</h3>

<div *ngIf="deletedHero;else msg">
  <h3>

    Hero deleted

    <small class="text-danger">
      {{ deletedHero }}
    </small>

  </h3>
</div>

<ng-template #msg>
  <h3>Nothing has been deleted</h3>
</ng-template>

<button
  *ngIf="heroes.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger mt-4">
    Delete last hero
</button>


<ul class="mt-5 list-group">
  <li *ngFor="let hero of heroes" class="list-group-item"> {{ hero }} </li>
</ul>

<div class="mt-4">
  <input [(ngModel)]="newHero" placeholder="Enter hero name" class="form-control" (keyup.enter)="addHero()">
  <button (click)="addHero()" class="btn btn-primary mt-2">Add Hero</button>
</div>
